<launch>
        <!-- Start my_class_node Node with given rosparam -->
        <node pkg="prolb_haring" name="my_class_node" type="my_class_node" output="screen">
          <rosparam command="load" file="$(find prolb_haring)/param/params.yaml"/>
          <remap from="this_odom" to="other_odom" />        
        </node>
</launch>
