<launch>
  <!-- Set the TurtleBot3 model -->
  <arg name="model" default="burger" />

  <!-- Start Gazebo with TurtleBot3 -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Start RViz for TurtleBot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Start my_class_node Node with given rosparam -->
  <node pkg="prolb_haring" name="EKFL" type="my_class_node" output="screen">
    <rosparam command="load" file="$(find prolb_haring)/param/params.yaml"/>
    <remap from="this_odom" to="other_odom"/>        
  </node>
  <node name = "map_server" pkg="map_server" type="map_server" args="$(find prolb_haring)/map/house.yaml"/>
</launch>